@model IEnumerable<Bdd.Models.bd>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.heros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prixPublic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idGenre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img  src="~/images/@item._ref@ViewBag.JPG" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.heros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prixPublic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idGenre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item._ref }) |
            @Html.ActionLink("Details", "Details", new { id=item._ref }) |
            @Html.ActionLink("Delete", "Delete", new { id=item._ref })
        </td>
    </tr>
}

</table>
